
table{
	border-spacing:0;
  border-collapse:collapse;
	th {
		font-weight:bold;
		border-bottom:1px solid #ccc;
		padding-left:10px;
		padding-right:10px;
		text-align:center;
	}
	td {
		padding:5px;
		border-bottom:1px solid #ccc;
	}
}
