
#navigation {
	display:block;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		float: left;
		margin: 0 0.15em;
		text-align:center;
		a	{
			background-color: #4B7399;
			height: 2em;
			line-height: 2em;
			float: left;
			width: 9em;
			display: block;
			text-decoration:none;
			border: 0.1em solid #dcdce9;
			color: #eee;
		}
	}
}
