// put here formtastic changes

.formtastic,
.formtastic ul,
.formtastic ol,
.formtastic li,
.formtastic fieldset,
.formtastic legend,
.formtastic input,
.formtastic button,
.formtastic textarea,
.formtastic select,
.formtastic p {
  margin:2px;
  padding:5px;
}

input[type=text], textarea{
//	height:25px;
/*	border: 0.5pt solid #000000;*/
/*	border-collapse: collapse;*/
/*	border-spacing: 0;*/
}
textarea {
	padding: 5px;
	height: 300px;
}

.headers {
	margin-left:80px !important; 
	width:500px; 
	border:1px solid gray;
//	background-color:gray;
}